.profile-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.profile-content h4 {
  display: none;
}

.profile-form {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  max-width: 320px;
}

.profile-form div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 320px;
}

.birthdate input {
  padding: 0;
  text-align: center;
  font-size: 80%;
  width: 48px;
  height: 24px;
}

@media (min-width: 800px) {
  .profile-content h4 {
    display: block;
    font-size: var(--h5);
    font-weight: 400;
  }
}
