.settings-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.settings-content h4 {
  display: none;
}

@media (min-width: 800px) {
  .settings-content h4 {
    display: block;
    font-size: var(--h5);
    font-weight: 400;
  }
}
