.most-popular {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: var(--h3);
    font-family: var(--sans-serif);
    margin: 2rem 0;
}

.shop-link {
    text-decoration: none;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-link h4 {
    position: relative; /* Ensure the pseudo-element is positioned in relation to this */
    padding: 10px; /* Add some padding to increase the clickable area */
    border: 1px solid var(--black); /* Outer border */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s; /* Smooth transition for text color */
    height: 48px;
}

.shop-link h4:after {
    content: "";
    position: absolute;
    bottom: 10px; /* Position it right below the text */
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: center; /* Ensures the scaling is from the center */
}

.shop-link h4:hover:after {
    transform: scaleX(1); /* Extend the pseudo-element to full width on hover */
}
