.category-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
  justify-content: center;
  text-align: center;
}

.category-name{
    font-weight: 400;
}

.category-img {
  background-image: url(../../public/Ring-sample1.jpg);
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 200px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.category-img:hover {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}
