#items-area {
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
  padding: 2%;
  justify-content: center;
}

.product-card {
  background-image: url(../../public/Ring-sample1.jpg);
  background-position: center;
  background-size: cover;
  flex-basis: 47%;
  margin-top: 2%;
  height: 176px;
  width: 176px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}

.btn-shop {
  display: flex;
  width: 144px;
  justify-content: center;
  align-items: center;
  display: none;
}


.product p {
  margin: 0;
}

.product a {
  text-decoration: none;
}

.price {
  font-weight: 500;
}

.wish-icon svg {
  display: none;
}

@media (min-width: 550px) {
  .product-card {
    height: 264px;
    width: 264px;
  }
}
@media (min-width: 800px) {

  #items-area {
    grid-area: 1 / 2 / 4 / 9
  }
  .product-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 352px;
    width: 352px;
  }

  .product-card:hover {
    filter: brightness(105%);
  }

  .product-card .btn-shop {
    display: none;
  }

  .wish-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-end;
    padding-top: 24px;
    padding-right: 24px;
  }

  .product-card:hover .wish-icon svg {
    display: block;
  }

  .wish-icon:hover {
    fill: var(--primary-color);
  }

  .product-card:hover .btn-shop
   {
    display: flex;
    width: 352px;
    justify-content: center;
    align-items: center;
  }
}
