#product {
  display: flex;
  flex-flow: column wrap;
}

.product-info {
  padding: 1rem 1rem 0 1rem;
}

.product-info h2,
.product-info h6 {
  margin: 0;
}

#product-form {
  margin-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  border-bottom: 0.5px solid var(--grey);
  padding-bottom: 1rem;
}

.form-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem 0;
  border: 0.5px solid var(--black);
  padding: 1rem;
}

select {
    border: none;
}

.btn-shop {
  align-items: center;
  height: 48px;
  font-size: var(--h6);
}

.info-section {
    padding-bottom: 1rem;
    border-bottom: 0.5px solid var(--grey);
}
